* { padding: 0; margin: 0; }
html, body { height: 100%; width: 100%; }

header > nav > .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

header {
    background: #d3b1fa;
    color: black;
}

#content {
    min-height: 100%;
    margin-bottom: -50px; /* Equivalent to footer's height */
}

.spacer, #footer {
    height: 50px;
}

#footer {
    position: relative;
    z-index: 1;
}

.footer {
    background-color:#2c3e50;
    border-color:transparent;
    margin-bottom: 0px;
}

.footer .footer-text {
    color: #FFF;
}

.footer .footer-text > a{
    color: #FFF;
    text-decoration: underline;
}

.footer .footer-text > a:hover, .footer .footer-text > a:focus {
    color: #18BC9C;
    background-color: transparent;
    text-decoration: underline;
}

.navbar {
    margin-bottom: 0px;
}

#group-url {
    text-align: center;
}

.day-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    width: auto;
}

.repo-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.changes > .additions {
    color: green;
}

.changes > .deletions {
    color: red;
}
