# Example conf.toml file.
GitHubID = "ffffffffffffffffffff"
GitHubSecret = "ffffffffffffffffffffffffffffffffffffffff"
BaseURL = "http://localhost"
PostgresDataSource = "sslmode=disable dbname=blah user=blah"
SessionKey = "ffffffffffffffffffffffffffffffff"
OAuthStateString = "ffffffffffffffffffffffffffffffff"
Debug = "*"