<html>
  <title>GitHub Streaks</title>
  <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/res/css/freelancer.css">
  <link rel="stylesheet" type="text/css" href="/res/css/githubstreaks.css">
  <body id="page-top" class="index">

    <header id="content">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GitHub Streaks</a>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <!-- SAMER: Is the spacer necessary? -->
    <div class="spacer"></div>
    </header>
    <div id="footer" class="footer">
      <div class="container">
        <span class="footer-text">GitHub Streaks is not afiliated with GitHub.</span>
        <span class="footer-text pull-right"><a href="https://github.com/samertm/githubstreaks">Fork me!</a></span>
      </div>
    </div> 
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/react/react.js"></script>
    <script src="/bower_components/react/JSXTransformer.js"></script>
    <script src="/bower_components/moment/moment.js "></script>
    <script type="text/jsx" src="/res/js/githubstreaks.js"></script>
  </body>
</html>
