{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Welcome to your group, {{ v.Login }}. Your group id is: {{ v.Group.GID }}.</p>
      <p>People in this group:</p>
      <ul>
      {% for u in GetGroupUsers(v.Group) %}
        <li>{{ u.Login }}</li>
      {% endfor %}
      </ul>
      <p>Share this URL with a friend so they can join your group!</p>
      <div class="form-group">
        <input id="group-url"
               data-toggle="tooltip"
               data-placement="top"
               title="Copy this URL."
               class="form-control"
               type="text"
               readonly="readonly"
               value="{{ AbsoluteURL(GroupShareURL(v.Group)) }}" >
      </div>

      <p>Make a commit on GitHub to see it below!</p>
      <p><button id="refresh" class="btn btn-md btn-success">Refresh GitHub Commits (dev)</button></p>
      <div id="commit-groups">
        {% for dcg in v.DayCommitGroups %}
        {% with day=dcg.Day.Format("2006-01-02") %}
        <div class="day" data-day="{{ day }}">
          <p>
            <span data-component="day-bar" data-day="{{ day }}"></span>
            <span data-component="changes"
                  data-additions="{{ dcg.Additions }}"
                  data-deletions="{{ dcg.Deletions }}"></span>
          </p>
          <div class="all-repos" >
            {% for cg in CommitGroups(dcg.Commits) %}
            <div class="repo" data-repo="{{ cg.RepoName }}">
              <p>
                <span class="repo-link">Repo: {{ cg.RepoName }}</span>
                <span data-component="changes"
                      data-additions="{{ cg.Additions }}"
                      data-deletions="{{ cg.Deletions }}"></span>
              </p>
              <div class="all-commits" >
                {% for c in cg.Commits %}
                {% with commitUser= GetUser(c.UID) %}
                <div class="commit"
                     data-sha="{{ c.SHA }}"
                     data-user="{{ commitUser.Login }}"
                     data-message="{{ c.Message }}"
                     data-additions="{{ c.Additions }}"
                     data-deletions="{{ c.Deletions }}">
                  User: {{ commitUser.Login }}
                  Commit: {{ ShortSHA(c.SHA) }} -
                  {{ CommitMessageTitle(c.Message) }} -
                  <span data-component="changes"
                        data-additions="{{ c.Additions }}"
                        data-deletions="{{ c.Deletions }}"></span>
                </div>
                {% endwith %}
                {% endfor %}{# c in cg.Commits #}
              </div>
            </div>
            {% endfor %}{# cg in CommitGroups(dcg.Commits) #}
          </div>
        </div>
        {% endwith %}
        {% endfor %}{# dcg in v.DayCommitGroups #}
      </div>
    </div>
  </div>
</div>
{% endblock %}
