{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Welcome to this group, {{ v.Login }}. Your group id is: {{ v.GroupID }}.</p>
      <button id="refresh" class="btn btn-md btn-success">Refresh (dev)</button>
      {% for cg in v.CommitGroups %}
        <p>Commits for {{ cg.RepoName }}</p>
        {% for c in cg.Commits %}
          <p>Commit: {{ ShortSHA(c.SHA) }} {{ CommitMessageTitle(c.Message) }} Changes: + {{ c.Additions }} / - {{ c.Deletions }}</p>  
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
