{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Welcome to your group, {{ v.Login }}. Your group id is: {{ v.Group.GID }}.</p>
      <p>People in this group:</p>
      <ul>
      {% for u in GetGroupUsers(v.Group) %}
        <li>{{ u.Login }}</li>
      {% endfor %}
      </ul>
      <p>Share this URL with a friend so they can join your group!</p>
      <div class="form-group">
        <input id="group-url"
               data-toggle="tooltip"
               data-placement="top"
               title="Copy this URL."
               class="form-control"
               type="text"
               readonly="readonly"
               value="{{ AbsoluteURL(GroupShareURL(v.Group)) }}" >
      </div>

      <p>Make a commit on GitHub to see it below!</p>
      <p><button id="refresh" class="btn btn-md btn-success">Refresh GitHub Commits (dev)</button></p>
      <div id="commit-groups">
        {% for dcg in v.DayCommitGroups %}
          {% with day=dcg.Day.Format("2006-01-02") %}
          <div class="day" data-day="{{ day }}">
            <p><span class="day-link">Commits on {{ day }}</span></p>
            {% for cg in CommitGroups(dcg.Commits) %}
              <div class="repo" data-repo="{{ cg.RepoName }}">
                <p><span class="repo-link">Repo: {{ cg.RepoName }}</span></p>
              {% for c in cg.Commits %}
                <div class="commit"
                     data-sha="{{ c.SHA }}"
                     data-message="{{ c.Message }}"
                     data-additions="{{ c.Additions }}"
                     data-deletions="{{ c.Deletions }}">
                  Commit: {{ ShortSHA(c.SHA) }} {{ CommitMessageTitle(c.Message) }} Changes: + {{ c.Additions }} / - {{ c.Deletions }}
                </div>
              {% endfor %}
              </div>
            {% endfor %}
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
