{{define "body"}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>welcome to github streaks yoooo</p>
      {{if .Login}}
      <p>Welcome, {{.Login}}</p>
      <p>SAMER: turn this into the dashboard page.</p>
      {{if .NeedEmail}}
      <p>Plz give me ur email. :3 meow</p>
      <form method="post" action="/save_email">
        <input name="email">
        <button class="btn-success btn-md">Register!</button>
      </form>
      {{else}}
      <p>YAY YOUR EMAIL IS {{.Email}}.</p>
      {{end}}{{/* if .NeedEmail */}}
      {{else}}
      <p>Login with <a href="/login">GitHub</a>.</p>
      {{end}}
    </div>
  </div>
</div>
{{end}}{{/* define "body" */}}
